* {
  font-family: system-ui, sans-serif;
}

p,
a,
ul,
li,
span {
  font-size: var(--font-size-sm);
  color: var(--text);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    Helvetica Neue,
    system-ui;
  font-weight: normal;
  color: var(--text);
  line-height: 1;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;

  &:hover,
  &:focus {
    color: color-mix(in srgb, var(--text), black 3%);
  }
}

section.mdx {
  gap: var(--space-4);
  display: grid;

  ol,
  ul {
    padding-left: var(--space-8);

    ol,
    ul {
      padding-left: var(--space-8);
    }
  }

  /* footnotes */
  sup a {
    font-size: var(--font-size-2xs);
    text-decoration: none;
  }

  a.data-footnote-backref {
    text-decoration: none;
    padding-left: var(--space-1);
  }

  section.footnotes {
    display: grid;
    gap: var(--space-3);
  }

  /* code */
  figure[data-rehype-pretty-code-figure] pre {
    padding: var(--space-3);
    border-radius: var(--radii-md);
    outline: 1px solid color-mix(in srgb, var(--text), black 50%);

    span {
      font-family: Menlo, monospace;
      font-size: var(--font-size-xs);
      white-space: break-spaces;
    }
  }

  code {
    font-family: Menlo, monospace;
    font-size: 95%;
  }
}
